#client-table {
    margin: auto;
    width: 90%;
    border-collapse: collapse;

    th,td {
        border: 2px solid darkred;
        color: blueviolet
    }

    th {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
};